body {

    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    margin: 0;

    &.bg-01 {

    	background-image: url('bg-01.png');
    }

    &.bg-02 {

    	background-image: url('bg-02.jpg');
    }

    &.bg-03 {

    	background-image: url('bg-03.jpg');
    }

    &.bg-04 {

    	background-image: url('bg-04.jpg');
    }

}

#main {

	&.home {

		padding-top: 20px;

		&.sticky {

			padding-top: 340px;
		}

	}

	&.page,
	&.post-detail {

		&.sticky {

			padding-top: 80px;
		}
	}
}

@media only screen and (max-width: 802px) {

    #main {

        &.home {

            padding-top: 17vw;

            &.sticky {

                padding-top: 17vw;
            }
        }
    }

}