form[name=contact-form] {

	.row {

		.col1 {
			width: 100%;
		}

		.col2 {
			width: 50%;
		}

		text-align: left;
		margin-bottom: 20px;

		.label {

			vertical-align: top;
			margin-bottom: 5px;
		}

		.label,
		.col2,
		input,
		textarea {

			display: inline-block;
		}

		textarea {

			resize: vertical;
			width: 100%;
			height: 220px;
		}

	}

	.contact-form-cross{

		display: none;
	}

	.contact-form-error-message-with-border,
	.contact-form-error-message {

		color: #FF0000;
		margin-top: 20px;
	}

	.contact-form-success-message-with-border,
	.contact-form-success-message {

		color: #80ffa9;
		margin-top: 20px;
	}

}

@media only screen and (max-width: 802px) {

	form[name=contact-form] {

		.row {

			.label {

				font-size: 5vw;
			}

			.col2 {

				width: 100%;
				display: block;
				margin-bottom: 4vw;

				.label {

					width: 15vw;
				}
			}
		}
	}
}