nav {

    width: 100%;
    text-align: center;

    z-index: 2;

    ul {

        list-style: none;
        position: relative;
        display: block;
        margin-top: 0;
        padding: 0;

        ul {

            display: none;
        }

        li {

            display: inline-block;
            background-color: #000;
            border: 1px solid #f00;
            border-top: 0;
            position: relative;
            cursor: pointer;

            @include transition(background-color 0.25s ease-in-out);

            a {

                display: table-cell;
                vertical-align: middle;
                padding: 3px 15px 3px 10px;
                text-decoration: none;
                color: #f00;
                text-transform: uppercase;
                font-family: inversionz;
                font-size: 35px;
                letter-spacing: -7px;

                @include transition(color 0.25s ease-in-out);

            }

            &:hover {

                background-color: #f00;

            }

            &:hover a {

                color: #000;

            }

            &:hover > ul {

                display: block;
            }

        }

        li.active {

            background-color: #f00;

            a {

                color: #000;

            }

        }
    }
}

nav.sticky {

    position: fixed;
    top: 9px;
    left: 360px;
    text-align: left;

    ul {

        li {

            border-color: #000;
        }
    }
}

@media only screen and (max-width: 802px) {

    nav,
    nav.sticky {

        position: fixed;
        top: 15vw;
        left: 0;
        text-align: center;
        transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94),
                    opacity 300ms;

        ul {

            li {

                display: block;
                border-left: 0;
                border-right: 0;
                border-color: #f00;

                a {

                    font-size: 10vw;
                }
            }
        }
    }

    nav.hide {

        top: -50vw;
        opacity: 0;
        display: block;
    }
}