// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

// Other
$signalColour: #FF0000;
$signalSize: 18px;
$towerHeight: 225px;
$newsrealPrimaryColour: #FF0000;
$newsrealSecondaryColour: #000000;
$newsrealWidth: 700px;