<div class="form">
    <table>
        <tr>
            <td>
                <div class="label">
                    Name
                </div>
                <div class="input">
                    <input class="contact-form-name" id="ContactForm1_contact-form-name" name="name" size="30" type="text" value="" />
                </div>
            </td>
            <td>
                <div class="label">
                    E-Mail
                </div>
                <div class="input">
                    <input class="contact-form-email" id="ContactForm1_contact-form-email" name="email" size="30" type="text" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="label not-inline">
                    Message
                </div>
                <div class="input full-width">
                    <textarea class="contact-form-email-message" cols="25" id="ContactForm1_contact-form-email-message" name="email-message" rows="5"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="input">
                    <input class="contact-form-button contact-form-button-submit" id="ContactForm1_contact-form-submit" type="button" value="Submit" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="message">
                    <div class="contact-form-error-message" id="ContactForm1_contact-form-error-message">
                    </div>
                    <div class="contact-form-success-message" id="ContactForm1_contact-form-success-message">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>