.contact-form-widget {
	max-width:none;
	width:100%;
}

.contact-form-widget table {
	width: 100%;
}

.contact-form-widget .label,
.contact-form-widget .input {
	display:inline-block;
}

.label.not-inline {
    display: block;
}

.contact-form-email-message {
	width: 100%;
	resize: vertical;
}

.full-width {
	width: 100%;
}

.input textarea {
	width: 100%;
	max-width: none;
}

.input {
	vertical-align: top;
}

.label {
	padding-top:7px
}

#ContactForm1_contact-form-submit {
	position: absolute;
	right: 0;
}